<h1>Welcome#Images</h1>
<p>Find me in app/views/welcome/Images.html.erb</p>

<%=@a %> go to Welcome <%= link_to 'Index', welcome_index_path %> 

Image 1s
<img scr= "/home/devraj/Pictures/HelloWorld.png" >

Image 

<img src='https://www.pexels.com/photo/abandoned-forest-industry-nature-34950.jgeg'>
<body>
<%= image_tag  'https://www.pexels.com/photo/abandoned-forest-industry-nature-34950/'  %>
</body>
<%= image_tag  "https://photos.google.com/photo/AF1QipMC4YpvENRHZbUzXmZbVPMW9fJwIJPdZ_ZiXhd1" %>


System image

<img src="GitHub error.png" alt="image">